*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #28282B;
}

.header {
   
    margin: 100px auto 20px;
    padding: 1em;
}

.odin-recipes {
    font-family: Arial, sans-serif;
    font-size: 100px;
    color: white;
    text-align: center;
}

.recipe-list li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: block;
    padding: 50px;
}

.recipe-list li a:hover {
    color: black;
    padding: 50px;
    background-color: white;
}

.recipe-list li {
    width: 500px;
    margin: 10px auto;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    background-color: black;
    font-family: 'Courier New',Courier,monospace; 
    list-style-type: none;
    border: 5px solid white;
}

.recipe-list li:hover {
    border: 5px solid white;
}




